.products-container {
  padding: 40px;
  text-align: center;

  h2 {
    font-size: 2.4rem;
    margin-bottom: 30px;
    color: #3e2723;
  }

  .products-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
    justify-items: center;
  }

  .product-card {
    max-width: 350px;
    border-radius: 16px;
    overflow: hidden;
    background-color: #fefefe;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-8px);
    }

    img {
      height: 300px;
      object-fit: cover;
    }

    .product-name {
      font-size: 1.4rem;
      font-weight: bold;
      color: #2c3e50;
    }

    .product-description {
      font-size: 1rem;
      color: #5d5d5d;
      margin: 10px 0;
    }

    .product-price {
      font-size: 1.1rem;
      color: #795548;
      font-weight: 600;
    }

    mat-card-actions {
      padding: 0 16px 16px;
      justify-content: center; /* Gomb középre igazítása */
    }
  }
}
