<div class="products-container">
  <h2>Our Products</h2>

  <!-- Szűrő komponens -->
  <app-product-filter (filterChanged)="onFilterChanged($event)"></app-product-filter>

  <div class="products-list">
    <mat-card class="product-card" *ngFor="let product of filteredProducts" appearance="outlined">
      <img mat-card-image [src]="product.imageUrl" [alt]="product.name" />
      <mat-card-content>
        <h3 class="product-name">{{ product.name }}</h3>
        <p class="product-description">{{ product.description | shorten:40 }}</p>
        <p class="product-price">{{ product.price | price }}</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="addToCart(product)">
          <mat-icon>shopping_cart</mat-icon> Add to the cart
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="cart-nav">
    <button mat-stroked-button color="accent" (click)="goToCart()">
      <mat-icon>shopping_cart_checkout</mat-icon> Jump to the cart...
    </button>
  </div>
</div>
