<div class="auth-container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h2>Registration</h2>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Registrate</button>
  </form>
</div>
