<div class="home-container">
  <mat-card class="home-card">
    <mat-card-header>
      <mat-card-title class="home-card-title">Welcome to Teglas's Premium Rum Webshop</mat-card-title>
    </mat-card-header>
    <mat-card-content class="home-card-content">
      <p>Take a look at our premium Rum selection!</p>
    </mat-card-content>
    <mat-divider></mat-divider> <!-- Elválasztó vonal -->
    <mat-card-actions class="home-card-actions">
      <button mat-raised-button color="primary" (click)="changePage()">View Products</button>
    </mat-card-actions>
  </mat-card>
</div>
